:root {
  --red: #C80000;
  --blue: #065FD4;
  --green: #39B449;
  --gray-1: #20232A;
  --gray-2: #efefef;
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 /15%);
  --box-shadow-nav: 0 2px 10px 0 rgba(0 0 0 /22%);
  --text-color: #444;
}

.indie-flower {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

